
.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    display: inline;
    position: relative;
}
.arrow::after {
    width: 0;
    height: 0;
    border: 0.313em solid transparent;
    border-bottom: none;
    border-top-color: gray;
    content: '';
    vertical-align: middle;
    display: inline-block;
    position: relative;
    right: -0.300em;
}

.menu ul li a {
    color: gray;
    text-decoration: none;
    display: flex;
    align-content: flex-end;
    padding: 14px;
    transition: background .3s;
}

/*sub menu*/
.menu ul ul {
    display: none;
    left: 0;
    position: absolute;
    background-color: #ccc;
}

.menu ul li:hover ul {
    display: block;
}

.userName {
    color: gray;
}

.menu ul ul {
    width: 170px
}

.menu ul ul li a {
    display: block;
}
