.header-top {
    align-items: center;
    background: #dcdcdc;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    height: 60px;
}

.header-span {
    font-size: 25px;
    padding: 25px;
    color: gray;
    height: 30px;
    width: 150px;
}